body {
  background-image: url("https://img.freepik.com/free-vector/gradient-geometric-background_23-2148808998.jpg?w=900&t=st=1685045122~exp=1685045722~hmac=87efd4ebe33263c942a7eaa40db5634f1e7026a229fbdfa8500242c25e311179");
 
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
